body {
  font-family: "Oswald", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #add8e6;
  color: #333;
}

header {
  background-color: #4a5568;
  color: white;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;

}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  scroll-margin-top: 80px; /*adjust to your header's height*/
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #e2e8f0;
  color: #333;
}
img{
  width: 40%;
}

.highlight {
  border: 1px ;
  padding: 10px;
  background-color:#e2e8f0;
  border-radius: 15px;
}

.image-row {
  display: flex;          /* puts images side by side */
  gap: 20px;              /* space between them */
  justify-content: center; /* centers them on the page */
}

.image-row img {
  width: 300px;   /* set the same size */
  height: 300px;  /* keeps them uniform */
  object-fit: cover; /* crops nicely without stretching */
  border-radius: 10px; /* optional, rounded corners */
}

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 0.75em;
    text-align: left;
  }

  th {
    background-color: #d0ebf2;
    font-weight: bold;
  }

  em {
    font-style: italic;
  }