body {
  font-family: "Oswald", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #add8e6;
  color: #333;
}

header {
  background-color: #4a5568;
  color: white;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  scroll-margin-top: 80px; /*adjust to your header's height*/
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #e2e8f0;
  color: #333;
}
html {
    scroll-behavior: smooth;
}
.highlight {
  border: 1px;
  padding: 10px;
  background-color:rgb(245, 195, 203);
  border-radius: 15px;
}